@import "tailwindcss";

:root {
  --primary-color: #041f1e;
  --secondary-color: #cd8b53;
  --text-color: #fff;
}

@theme inline {
  --color-primary: #041f1e;
  --text-secondary: #cd8b53;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--primary-color);
  color: var(--text-color);
  font-family: var(--font-mono), Helvetica, sans-serif;
}
