@import "tailwindcss";

:root {
  --primary-color: #041f1e;
  --secondary-color: #cd8b53;
  --text-color: #fff;
}

@theme inline {
  --color-primary: #041f1e;
  --color-secondary: #cd8b53;
  --font-cinzel: var(--font-cinzel);
  --font-cormorant: var(--font-cormorant);
  --font-montserrat: var(--font-montserrat);
  --breakpoint-2xs: 360px;
}

body {
  background: var(--primary-color);
  color: var(--text-color);
  font-family: var(--font-cormorant), Helvetica, sans-serif;
}
